In [1]:
import pandas as pd

# Series

In [2]:
data = [1,2,3,4,5]

In [3]:
s = pd.Series(data)

In [4]:
s

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [5]:
index = ['linha' +  str(i) for i in range(5)]

In [6]:
index

['linha0', 'linha1', 'linha2', 'linha3', 'linha4']

In [7]:
s= pd.Series(data=data, index = index)

In [8]:
s

linha0    1
linha1    2
linha2    3
linha3    4
linha4    5
dtype: int64

In [9]:
data = {'linha'  + str(i): i+1 for i in range(5)}

In [10]:
data

{'linha0': 1, 'linha1': 2, 'linha2': 3, 'linha3': 4, 'linha4': 5}

In [11]:
s = pd.Series(data)

In [12]:
s

linha0    1
linha1    2
linha2    3
linha3    4
linha4    5
dtype: int64

In [13]:
s1= s +1

In [15]:
s1

linha0    2
linha1    3
linha2    4
linha3    5
linha4    6
dtype: int64

In [16]:
s2 = s +s1

In [17]:
s2

linha0     3
linha1     5
linha2     7
linha3     9
linha4    11
dtype: int64

# DataFrame

In [18]:
data = [[1,2,3],
       [4,5,6],
       [7,8,9]]

In [19]:
df1 = pd.DataFrame(data=data)

In [20]:
df1

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [44]:
index = ['Linha' + str(i) for i in range(3)]

In [45]:
index

['Linha0', 'Linha1', 'Linha2']

In [46]:
df1 =  pd.DataFrame(data=data, index = index)

In [47]:
df1

        0  1  2
Linha0  1  2  3
Linha1  4  5  6
Linha2  7  8  9

In [60]:
columns = ['Coluna' + str(i) for i in range(3)]
columns

['Coluna0', 'Coluna1', 'Coluna2']

In [61]:
df1 = pd.DataFrame(data=data, index=index, columns=columns)
df1

        Coluna0  Coluna1  Coluna2
Linha0        1        2        3
Linha1        4        5        6
Linha2        7        8        9

In [62]:
data = {'Coluna0': {'Linha0': 1, 'Linha1': 4, 'Linha2': 7},
        'Coluna1': {'Linha0': 2, 'Linha1': 5, 'Linha2': 8},
        'Coluna2': {'Linha0': 3, 'Linha1': 6, 'Linha2': 9}}

In [63]:
data

{'Coluna0': {'Linha0': 1, 'Linha1': 4, 'Linha2': 7},
 'Coluna1': {'Linha0': 2, 'Linha1': 5, 'Linha2': 8},
 'Coluna2': {'Linha0': 3, 'Linha1': 6, 'Linha2': 9}}

In [64]:
df2 = pd.DataFrame(data)
df2

        Coluna0  Coluna1  Coluna2
Linha0        1        2        3
Linha1        4        5        6
Linha2        7        8        9

In [65]:
data = [(1, 2, 3), 
        (4, 5, 6), 
        (7, 8, 9)]

In [66]:
df3 = pd.DataFrame(data = data, index = index, columns = columns)
df3

        Coluna0  Coluna1  Coluna2
Linha0        1        2        3
Linha1        4        5        6
Linha2        7        8        9

In [67]:
df1[ df1 > 0] = 'A'

In [68]:
df2[ df2 > 0] = 'B'
df3[ df3 > 0] = 'C'

In [69]:
df3

       Coluna0 Coluna1 Coluna2
Linha0       C       C       C
Linha1       C       C       C
Linha2       C       C       C

In [70]:
df4 = pd.concat([df1,df2,df3])

In [72]:
df4 = pd.concat([df1,df2,df3], axis=1)
df4

       Coluna0 Coluna1 Coluna2 Coluna0 Coluna1 Coluna2 Coluna0 Coluna1 Coluna2
Linha0       A       A       A       B       B       B       C       C       C
Linha1       A       A       A       B       B       B       C       C       C
Linha2       A       A       A       B       B       B       C       C       C

In [73]:
df1 = pd.DataFrame({'A': {'X': 1}, 'B': {'X': 2}})
df2 = pd.DataFrame({'C': {'X': 3}, 'D': {'X': 4}})
pd.concat([df1, df2])

     A    B    C    D
X  1.0  2.0  NaN  NaN
X  NaN  NaN  3.0  4.0

In [74]:
dados = [('A', 'B'), ('C', 'D')]
df = pd.DataFrame(dados, columns = ['L1', 'L2'],  index = ['C1', 'C2'])
df

   L1 L2
C1  A  B
C2  C  D

In [75]:
dados = [[1, 2, 3], [4, 5, 6]]
index = 'X,Y'.split(',')
columns = list('CBA')[::-1]
df = pd.DataFrame(dados, index, columns)
df

   A  B  C
X  1  2  3
Y  4  5  6